.opticton_comment{
    position: absolute;
    right: 14px;
    bottom: 0;
    font-size: 12px;
    color: #666;
    display: flex;
    justify-content: flex-start;
}

.icon_span, .icon_span_red, .icon_span_green{
    padding-left: 20px;
}

.icon_span_red:hover {
    cursor: pointer;
    color: #d81608;
}

.icon_span_green:hover {
    cursor: pointer;
    color: #228527;
}

.show_comment_delete {
    text-decoration: line-through;
    color: #999999;
}

.show_comment_delete > .opticton_comment {
    color: #999999 !important;
}

.edit_comment {
    width: 99%;
    height: 50px;
    border-radius: 5px;
}